
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Activity
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
 <ion-row>
     <ion-col offset-md="2" offset="1" size-lg="6" size-md="8" size="10">
         <ion-item>
             <ion-label position="fixed">Title</ion-label>
             <ion-textarea></ion-textarea>
             <ion-input type="text" [(ngModel)]="title"></ion-input>
         </ion-item>



         <ion-item>
             <ion-label position="fixed">Description</ion-label>
             <ion-input type="text" [(ngModel)]="description"></ion-input>
         </ion-item>

         <ion-item>
             <ion-label position="fixed">Success Message</ion-label>
             <ion-input type="text" [(ngModel)]="successMessage"></ion-input>
         </ion-item>

         <ion-item>
             <ion-label position="fixed">Type</ion-label>
             <ion-select>
                 <ion-select-option value="brown">Brown</ion-select-option>
                 <ion-select-option value="black">Black</ion-select-option>
             </ion-select>
         </ion-item>

         <ion-item>
             <ion-label position="fixed">Proof Type</ion-label>
             <ion-select>
                 <ion-select-option value="brown">Brown</ion-select-option>
                 <ion-select-option value="black">Black</ion-select-option>
             </ion-select>
         </ion-item>

         <ion-item>
             <ion-label position="fixed">Number of Pages</ion-label>
             <ion-input type="text" ngModel name="number_of_pages"></ion-input>
             <ion-select>
                 <ion-select-option value='1'>1</ion-select-option>
                 <ion-select-option value='2'>2</ion-select-option>
                 <ion-select-option value='3'>3</ion-select-option>
             </ion-select>
         </ion-item>

         <ion-item lines="none">
             <ion-button size="default" (click)="createNewActivity()">
                 Create
             </ion-button>
         </ion-item>

     </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
