<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Create Activity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" ngModel name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input type="text" ngModel name="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Success Message</ion-label>
      <ion-input type="text" ngModel name="success_message"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-select>
        <ion-select-option>Brown</ion-select-option>
        <ion-select-option>Blonde</ion-select-option>
        <ion-select-option>Black</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Proof Type</ion-label>
      <ion-input type="text" ngModel name="proof_type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Number of Pages</ion-label>
      <ion-input type="text" ngModel name="number_of_pages"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Story</ion-label>
      <ion-input type="text" ngModel name="story"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" ngModel name="image"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="danger">Save</ion-button>
  </form>
</ion-content>
